include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include terester_restaurant *.css
recursive-include terester_restaurant *.csv
recursive-include terester_restaurant *.html
recursive-include terester_restaurant *.ico
recursive-include terester_restaurant *.js
recursive-include terester_restaurant *.json
recursive-include terester_restaurant *.md
recursive-include terester_restaurant *.png
recursive-include terester_restaurant *.py
recursive-include terester_restaurant *.svg
recursive-include terester_restaurant *.txt
recursive-exclude terester_restaurant *.pyc